
<h3>Welcome friend! Let's log some meals and track our healthy eating!</h3>


<%= link_to "Record New Log", new_post_path, class: "new_post" %>
<%= link_to "Food Log List", posts_path %>
<%= link_to 'Show Profile', current_user %>
