<h1>All Food Logs</h1>

  <% @posts.each do |post| %></br>
      <h2><%= link_to "See Log #{post.id}", post_path(post) %></h2>
  <% end %>

<% if logged_in? %>
  <%= link_to "New Log", new_post_path, class: "new_post" %>
  <!-- <%= link_to "New Log", new_post_path(@user, @post) %> -->

  <%= link_to "Home", users_path %>
<% end %>
