body {
text-align: center;
background-image: url(http://i.imgur.com/iuEFSvT.jpg);
background-position: top;
background-repeat: repeat-y;
font-family: 'Oswald', sans-serif;
margin-top: 115px;
}

h1 {
  font-size: 40pt;
  text-align: center;
}

h5 {
  text-align: center;
}

p {
  width: 500px;
}

div {
  background-color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  padding: 10px;
  border-radius: 30px;
  min-width: 600px;
  text-align: left;
}

img {
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
